body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    /* background-color: #f4ebff; */
    /* background-image: url(../assests/back1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom, #001f3f, #005f73);
    color: white;
    font-family: Arial, sans-serif;
}

svg {
    width: 80%;
    height: auto;
}

.node {
    /* fill: white; */
    fill: url(#gradient1);
    stroke: #4c9dbd;
    stroke-width: 2;
    cursor: pointer;
    transition: fill 0.3s;
}

.node:hover {
    fill: #4c9dbd;
    stroke: rgb(255, 255, 255);
}

.sub_node {
    /* fill: white; */
    fill: url(#gradient1);
    stroke: #4c9dbd;
    stroke-width: 2;
    cursor: pointer;
    transition: fill 0.3s;
}

.sub_node:hover {
    fill: #4c9dbd;
    /* stroke: rgb(0, 0, 0); */
}

text {
    /* font-size: 14px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #333;
    pointer-events: none; */
    fill: black;
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}

.line{
    fill: rgb(216, 216, 216); 
    stroke: #4c9dbd;
    stroke-width: 2px;
    fill: none;

}

.sub_text {
    font-size: 11px;
}

.background {
    position: relative;
}

h1 {
    margin-bottom: 100px;
    margin-left: 0px;
}