#table {
    width: 100%;
    height: auto;
    background-image: url("../assests/tablebg.png");
    border-collapse: collapse;
    margin: 0;
    padding: 0;

    .table-header {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 27px;
        font-weight: 700;
        color: #FFFFFF;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .table-container {
        width: 1336px;
        margin: 0 auto;
        padding-bottom: 48px;

        h1 {
            text-align: center;
            padding: 24px;
            font-size: 27px;
            font-weight: 700;
            color: #FFFFFF;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        table {
            width: 100%;
            min-width: 600px;
            border-collapse: collapse;
            border-radius: 25px;
            overflow: hidden;

            .table-header-row {
                height: 52px;
                background-color: #2722A9;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: 700;
            }

            .table-data-row {
                height: 76px; 
                background-color: #FFFFFF;
                font-size: 15px;
                font-weight: 500;

                td {
                    text-align: center;


                    .red-text {
                        color: #dc2626;
                    }

                    .species-name {
                        display: flex;
                        align-items: center;
                        justify-content: left;

                        .blue-text {
                            color: #2563EB;
                            padding: 5px;
                        }

    
                        svg {
                            cursor: pointer;
                        }
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        /* transition: transform 0.2s ease-in-out; */
                    }

                    /* img:hover {
                        transform: scale(1.1);
                    } */
                }
            }
        }
    }
}

