body {
  /*background: url("../assests/Background.png") no-repeat center center fixed;*/
  background-size: cover;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.title {
  font-size: 50px;
  /* text-align: top; */
  /* font-weight: bold; */
  color: #2a25be;
  margin-bottom: 10px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.programs {
  text-align: center;
  padding: 30px;
  background-color: #004a68;
  color: white;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#programFilter,
#categoryFilter {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.program_cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  color: black;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.reviews {
  background-color: white;
  color: D6F1F2;
  padding: 20px;
}

.review_title {
  font-size: 40px;
  background-color: rgba(0, 150, 211, 0.5);
  color: #ffffff;
  margin-bottom: 10px;
}

.review_summery {
  background-color: rgba(0, 150, 211, 0.5);
  color: #2a25be;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.review_cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.review {
  background-color: rgba(0, 150, 211, 0.5);
  color: #000000; /* Fully opaque text */
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

/* .review_cards {
  background-color: #3C39A3;
  opacity: 0.5; 
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
} */

.send_review {
  background-color: rgba(0, 150, 211, 0.5);
  text-align: center;
  padding: 30px;
}

.review_message {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}

.review_text {
  text-align: center;
}

.review_name {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
}

.review_email {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: #0096d3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #014a67;
}

.submit-button {
  width: 40%;
  border-radius: 20px;
  margin: 20px;
}
