body {
  background: url("../assests/background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  color: white;
}

.title-section {
  background-color: #ffffff;
  opacity: 1;
  border-radius: 20px;
  margin: 20px 400px 0 400px;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  /* text-align: top; */
  /* font-weight: bold; */
  color: #004a68;
  margin-bottom: 25px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.programs {
  /* opacity: 0.9; */
  text-align: center;
  padding: 30px;
  background-color: #004a68;
  color: white;
  margin: 20px 100px 20px 100px;
  border-radius: 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#programFilter,
#categoryFilter {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.program_cards {
  /* opacity: 1; */
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 20px;
}

.card {
  /* opacity: 1; */
  background-color: white;
  padding: 15px;
  border: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  color: black;
}

.card:hover {
  border: solid #2e91f3;
  background-color: #2e91f3;
  color: #ffffff;
  transition: ease-in 0.3s;
  cursor: pointer;
  opacity: 1;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.reviews {
  opacity: 0.9;
  text-align: center;
  background-color: white;
  color: #d6f1f2;
  padding: 20px;
}

.review_title {
  font-size: 40px;
  background-color: rgba(0, 150, 211, 0.5);
  color: #ffffff;
  margin-bottom: 10px;
  border-radius: 20px;
}

.review_cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.review_summery,
.review_card {
  background-color: rgba(0, 150, 211, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.review_summery {
  /* color: #2a25be; */
  width: 400px;
  font-weight: bolder;
  text-shadow: 2px 2px rgb(69, 105, 153);
}

.review_card {
  color: #000000;
  width: 300px;
}

.review_card .profile {
  margin-top: auto;
}

.review_cards :hover {
  /* border: solid #2e91f3; */
  background-color: #2e91f3;
  color: #000000;
  transition: ease-in 0.3s;
  cursor: pointer;
}

/* .review-comment {
  color: #000000;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
} */

/* .review_cards {
  background-color: #3C39A3;
  opacity: 0.5; 
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
} */

.send_review {
  background-color: rgba(0, 150, 211, 1);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
}

.send-review-topic {
  font-weight: bolder;
  font-size: large;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 2px 2px rgb(69, 105, 153);
}

.review_message {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}

.review_text {
  text-align: center;
}

.review_name {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
}

.review_email {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: #004a68;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #012432;
}

.submit-button {
  width: 40%;
  border-radius: 20px;
  margin: 20px;
}
